body{
	background-image:url(index.jpg);
	background-repeat: no-repeat;
	background-size:cover;

}
h1.class{
	margin:80px 30px 0 30px;
	border-right : 20px solid #48dbfb;
	border-left: 20px solid #48dbfb;
	border-bottom:5px dotted #81ecec;
	border-top:5px solid #81ecec;
	text-align:center;
	padding:50px;
	color:black;
	background-color:#ffeaa7;
}
h2.class2{
	margin:200px 50px 100px 30px;
	border : 10px double #a29bfe;
	border-radius:5px;
	text-align:center;
	padding:50px;
	color:#636e72;
	background-color:#ff7675;
}
p{
	color:#74b9ff;
	margin-top: 100px;
	font-size: 30px;
}